.profilePictureTab {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profilePictureTab img {
    max-width: 100%;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 1em;
}

#actions {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .profilePictureTab {
        width: 50%;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 500px) {
    .profilePictureTab {
        width: 100%;
        transition: 0.3s;
    }
}