body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-align: center;
}

.nav.navbar-nav {
    margin-top: 9px;
}

@media only screen and (min-width: 768px) {
    .log {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    img.logo {
        height: 40px;
        transition: 0.3s;
        width: 50px;
    }
}
