@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<link href="~/Content/home.css" rel="stylesheet" />

<div id="snapping-div">
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap" class="btn btn-success">Snap Photo</button>
</div>
<div id="result-div">
    <canvas id="canvas" width="640" height="480"></canvas>
    <h3></h3>
    <div id="actions">
        <button class="btn btn-default" onclick="snapAgain()">Snap Again</button>
        <button class="btn btn-success" onclick="getLocation()">Get Suggestions</button>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("/Scripts/indexCamera.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/indexLocation.js")"></script>