@using SpotifyAPI.Web
@using SpotifyAPI.Web.Auth
@using SpotifyAPI.Web.Enums
@using SpotifyAPI.Web.Models

@model SpotifyWebAPI

@{
    ViewBag.Title = "WRIGGLE LIKE A FUCKING EEL";
}

<h2>WRIGGLE LIKE A FUCKING EEL</h2>

@{ 
    List<string> albumsList = new List<string>();
    var albums = Model.GetSavedAlbums(50, 10, "BG");
    albums.Items.ForEach(item => albumsList.Add(item.Album.Name));
}

@foreach (var item in albumsList)
{
    <p>
        @item
    </p>
}