@using SpotifyAPI.Web
@using SpotifyAPI.Web.Auth
@using SpotifyAPI.Web.Enums
@using SpotifyAPI.Web.Models

@model SpotifyWebAPI

@{
    ViewBag.Title = "WRIGGLE LIKE A FUCKING EEL";
}

<h2>WRIGGLE LIKE A FUCKING EEL</h2>

@{ 
    List<string> playlistsList = new List<string>();
    var playlists = Model.SearchItems("Sadness", SearchType.Playlist, 10, 0);
    playlists.Playlists.Items.ForEach(item => playlistsList.Add(item.Id));
}

@foreach (var item in playlistsList)
{
    <p>
        @item
    </p>
}